@model IEnumerable<Team_EasyEntry.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h3>Customer Name:  @@@@</h3>

<p>
    <a asp-action="Create">
        <button>Add Information</button>
    </a>
</p>

<p>
    <a asp-action="QRIndex">
        <button>Ceate QR Code</button>
    </a>
</p>
<p>
    <button>My QR Code</button>
</p>

<p>
    <button>Scan QR Code</button>
</p>
