@model IEnumerable<Team_EasyEntry.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h3>Customer</h3>

<p>
    <a asp-action="Create">
        <button>Add Information</button>
    </a>
</p>
<p>
    <a asp-action="Edit">
        <button>Modify Customer Infor</button>
    </a>
</p>
<p>
    <a asp-action="QRIndex">
        <button>Check QR Code</button>
    </a>
</p>
<p>
    <a href="https://easy-entry-live-v1-1.uw.r.appspot.com" />
    <button>Store : Scan QR Code</button>
    </a>
</p>


<p>Upload with DataBase?</p>
